<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfaan.xjob.mapper.JobMapper">

    <select id="selectJobWithUser" resultType="com.yfaan.xjob.dto.JobWithUserDTO">
        SELECT j.id, j.user_id as userId, j.job, j.skill, j.price, j.introduce,
               j.work_duration as workDuration, j.work_city as workCity, j.create_time as createTime,
                j.update_time as updateTime, j.type_id as jobType, u.nick_name as nickName, u.icon
        FROM tb_job j
        LEFT JOIN tb_user u ON j.user_id = u.id
        <where>
            <if test="jobType != null">
                j.type_id = #{jobType}
            </if>
        </where>
        ORDER BY j.create_time DESC
    </select>

    <select id="selectJobWithUserCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM tb_job j
        LEFT JOIN tb_user u ON j.user_id = u.id
        <where>
            <if test="jobType != null">
                j.type_id = #{jobType}
            </if>
        </where>
    </select>

</mapper>