<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfaan.xjob.mapper.JobMapper">

    <select id="selectJobWithUser" resultType="com.yfaan.xjob.dto.JobWithUserDTO">
        SELECT j.id,
               j.user_id       AS userId,
               j.job,
               j.skill,
               j.price,
               j.introduce,
               j.type_id       AS typeId,
               t.name          AS typeName,
               j.work_duration AS workDuration,
               j.work_city     AS workCity,
               j.create_time   AS createTime,
               j.update_time   AS updateTime,
               u.nick_name     AS nickName,
               u.icon
        FROM tb_job j
                 LEFT JOIN tb_user u ON j.user_id = u.id
                 LEFT JOIN tb_job_type t ON j.type_id = t.id
        <where>
            <if test="typeId != null">
                j.type_id = #{typeId}
            </if>
        </where>
        ORDER BY j.create_time DESC
    </select>

    <select id="selectJobWithUserCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM tb_job j
                 LEFT JOIN tb_user u ON j.user_id = u.id
        <where>
            <if test="typeId != null">
                j.type_id = #{typeId}
            </if>
        </where>
    </select>

</mapper>